@import url("../general/menu.css");
/*Container*/
.container__all{
    position: relative;
    right: 0;
    transition: all 300ms;
}


.cover{
    width: 100%;
    padding-bottom: 60px;
    font-family: 'Poppins', sans-serif;
    margin-top: 100px;
}

